<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>TabbedwithNavigation</string>
	<key>CFBundleDisplayName</key>
	<string>TabbedwithNavigation</string>
	<key>CFBundleIdentifier</key>
	<string>TabbedwithNavigation</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>YES</string>
	<key>CFBundleExecutable</key>
	<string>TabbedwithNavigation</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The reason for accessing the location information of the user</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The reason for accessing the location information of the user</string>

	<key>CFBundleIconFile</key>
	<string>TabbedwithNavigation.icns</string>

</dict>
</plist>
